<div class="row mt-3">
    <div class="col">
        <div>
            <a [routerLink]="['/actualiza', indice]">
              {{indice+1}}. {{empleadoDeLista.nombre}} {{empleadoDeLista.apellido}} {{empleadoDeLista.cargo}} {{empleadoDeLista.salario}}
            </a>
        </div>
        <ul style="list-style:none;">
            <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
        </ul>
        <app-caracteristicas-empleado (caracteristicasEmpleado)="agregarCaracteristica($event)"></app-caracteristicas-empleado>

    </div>